.speakerContainer {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sessionHeader {
  display: flex;
  align-items: center;
}
.sessionCount {
  flex: 1;
}
.speaker {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 5px;
}
.speakerList {
  border: 1px solid #f0f0f0;
}
.contentContainer {
  margin-bottom: 2em;
  margin-top: 1em;
}
.pageHeader {
  display: flex;
  align-items: center;
  padding-right: 3em !important;
}
.dropdownDiv {
  display: flex;
  align-items: center;
}
.speakerName {
  flex: 1
}
.row {
  max-width: 100%
}
label {
  font-weight: 500;
}
.center {
  margin: 0 auto;
}

.loginCol {
    background-color: rgba(125, 88, 88, 0.06);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    margin-top: 7em;
}
.headingText {
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}
.subHeader {
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  margin-top: -1em;
}
.loginComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginFields {
  display: flex;
  flex-direction: column;
}
.subLoginInfo {
  margin: 2em;
}
.eventView {
  margin-top: 1em;
}
.entityHeader {
  width: 100%;
  height: 3em;
  padding-left: 1em;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.moderation {
  background-color: #FF6624;
}
.mangement {
  background-color: #00C8F8;
}
.EVHeader {
  background-color: #72BB53;
}
.bggreen {
  background-color: #72BB53;  
}
.bgreen {
  border: 1px solid #72BB53;
}
.bgorange {
  background-color: #FF6624;
}
.borange {
  border: 1px solid #FF6634;
}
.bgsky {
  background-color: #75A9F9;
}
.bsky {
  border: 1px solid #75A9F9;
}
.bred {
  border: 1px solid red;
}
.createEntityHeader {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 1em;
    font-weight: 500;
    flex: 1;
}
.createEntity {
  margin: 1em 0em 5em 0em;
  padding-bottom: 2em;
  flex-direction: column;
  display: flex;
  align-items: center;
  border: 1px solid #D7Eb5A;
}
.viewEntity {
  margin: 1em 0em 5em 0em;
  padding-bottom: 2em;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.moderationView {
  border: 1px solid #FF6624;
}
.mangementView {
  border: 1px solid #00C8F8;
}
.rawVideoList {
  border: 1px solid #72BB53;
}
.icon {
  cursor: pointer;
}
.headerTitleDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0em 1em 0em 1em;
    align-items: baseline;
}
.headerTitle {
  flex: 1;  
}
.tableRow : {
  margin-left: 12px;
}
.addUserButtonDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0em 1em 0em 1em;
  justify-content: flex-end;
}
.entityFields {
  width: 100%;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}
.inputField {
  width: 23em !important;
}
.sbutton {
  margin: 1em !important;
}
.linkUnlink  {
  margin-left: 1em;
  text-decoration: underline;
  color: #10C0D6;
  cursor: pointer;
}
.linkEvent  {
  display: flex;
  width: 100%;
  padding-left: 1em;
  cursor: pointer;
}
.esName {
  text-decoration: underline;
  color: #10C0D6;
  cursor: pointer;
}
.subEntityInfo {
  width: 100%;
  padding-left: 8em;
}
.languageSelectorDiv {
  width: 100%
}
.eventInfo {
  width: 100%;
  padding-left: 1em;
}
.AbrovedButton {
  margin-right: 12px;
}
.placeLanguage {
  display: flex;
  align-items: center;
  height: 1em;
  margin-bottom: 1em;
}
.commentBoxDiv {
  width: 100%;
  padding: 0em 1em;
}
.editorNameTime {
  width: 100%;
  display: flex;
  padding: 0em 1em;
  align-items: center;
  margin-top: -0.8em;
}
.buttonApprUnappr {
    width: 100%;
    display: flex;
    margin-top: 1em;
    justify-content: flex-end;
    padding-right: 1em;
}
.mc {
  background-color:rgb(255, 102, 36); 
}
.RVLVideo {
  width: 100%;
  align-items: center;
  padding: 1em;
  margin-bottom: -1.9em;
}
.RVLBodyItem {
  display: flex;
  width: 100%;
  align-items: center;
}
.RVLItemTitle {
  flex: 1;
}
.RVLTime {
  width: 100%;
  margin-top: -0.3em;
}
.RVLBody {
  width: 100%;
}
.RVLlinks {
 margin-bottom: -1.3em; 
}
.dataLinks {
  display: flex;
  align-items: center;
}
.SVLink {
  padding-left: 1em;
  padding-right: 1em;
}
.dataLink {
  flex: 1;
}
.addUserFields {
  display: flex;
  flex-direction: column;
}
.addUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}
.addUserButton {
  margin-top: 1.9em;
}
.eventContent {
  padding: 0em 1em 0em 1em;
  margin-top: -1em;
}
.VESheader {
  display: flex;
  align-items: center;
}
.speakerCount {
  flex: 1;
  font-weight: 500;
  font-size: 1.3em;
}
.speakerDescription {
  display: flex;
  align-items: baseline;
}
.speakerInfo {
  flex: 1;
}
.speakerName {
  font-weight: 500; 
  font-family: Roboto, sans-serif;
}
.speakerType {
  margin-top: -0.6em;
}
.entityCount {
  display: flex;
  align-items: center;
  margin-bottom: -1em;
}
.entityName {
  flex: 1;
  color: #00BCD4; 
}
.linkedEntity {
  padding-bottom: 1em;
}
.searchResultsCon {
  display: flex;
  align-items: stretch;
}
.searchResults {
  flex: 1;
}
.entityType {
  border-right: 1px solid #E0E0E0;
}
.SReventInfo {
  display: flex !important;
  align-items: flex-end;
}
.eitem {
  margin-right: 1em;
}
.linkSearchBar {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #E0E0E0;
}
.createEntityContainer {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-bottom: 2em;
}
